@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  
  /* Institucionales Valle del Cauca */
  --brand-blue: #003366;
  --brand-red: #cc0000;
  --brand-blue-dark: #002244;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-brand-blue: var(--brand-blue);
  --color-brand-red: var(--brand-red);
  --color-brand-blue-dark: var(--brand-blue-dark);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #f1f5f9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
